@using RailCarTrip.Interface
page "/railcar-trips"
@inject IEquipmentEventImportService ImportService


<h3>Railcar Trips – Upload Events</h3>


<InputFile OnChange="HandleUpload" accept=".csv,.xlsx" />


@if (events.Any())
{
    <p><strong>@events.Count</strong> events loaded</p>


    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Equipment</th>
                <th>City</th>
                <th>Event</th>
                <th>Local Time</th>
                <th>Time Zone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in events)
            {
                <tr>
                    <td>@e.EquipmentId</td>
                    <td>@e.City</td>
                    <td>@e.EventType</td>
                    <td>@e.EventTime</td>
                    <td>@e.TimeZone</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<EquipmentEvent> events = new();


    private async Task HandleUpload(InputFileChangeEventArgs e)
    {
        var file = e.File;
        using var stream = file.OpenReadStream(10_000_000);
        events = await ImportService.ImportAsync(stream, file.Name);
    }

 // var view =   Service.Mapper<events, data>;

      
}